body {
  background-color:#212529;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.kom {
  color: blue;
}

.image_center{
  width: 20%; 
  height: 10%;
}

.text{
  color: white;
}


#button_set{
  width: 55%; 
  margin:auto;
  text-align:center;
}
.set_alphabate {
  width: 8%;
  height: 55px;
  background-color: #07ffc9;
  margin-left:10px;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;

}

.set_alphabate:hover{
  background-color: white;
}

.buttons{
  width: 15%;
}


span{
  font-size: 35px;
  color:white;
  width:40px;
  margin: auto;
  padding-left:15px;
  color: #07ffc9;
}

.center{
  width: 42%;  
  padding-left:40%;
  
}
span{
  padding-left:5%;
}

button:disabled,
button[disabled]{
  
  background-color:red;
  color:white;
}

.lostGame{
  color: white;
}

.wonGame{
  color: white;
}